<h1>Students</h1>

<%= link_to 'New Student', new_student_path, class: 'btn btn-primary' %>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>